@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('http://fonts.cdnfonts.com/css/alphacentauri');
                
@import './partials/config';
@import './partials/reset';
@import './partials/features';
@import './partials/animations';
@import './partials/utilities';
@import './partials/desktop';
@import './partials/mobile';

// About section
#about {
    position: relative;
    width: 100%;
    height: 100vh;
    color: $text-color;

    .about-content {
        position: relative;
        height: 100%;
        padding-top: 4rem;

        &-title {
            text-align: center;
            color: $white-color;
            font-size: 3.8rem;
        }

        &-text {
            position: relative;

            p {
                line-height: 2;
                max-width: 37.5rem;
                margin: 2rem auto;
                font-size: 1rem;

                span {
                    color: $secondary-color;
                    font-weight: bold;

                    &::first-letter {
                        font-size: 2rem;
                        line-height: 1;
                    }
                }
            }
        }

        .social-medias {
            display: flex;
            justify-content: flex-end;

            ul {
                gap: 1rem;

                li {
                    background-color: $dark-color;
                    padding: 1rem;
                    border-radius: .5rem;
                    font-size: 1.3rem;
                    transition: .5s;

                    a {color: $primary-color;}
                    
                    &:hover {
                        background-color: $dark-light;
                        transform: scale(0.98);
                    }
                }
            }
        }

        &-skills {
            position: relative;
            height: 100%;
            overflow-x: visible;

            .bg-text {
                font-size: 8rem;
                position: absolute;
                top: 30%;
                left: 30%;
                transform: rotate(14deg);
                opacity: .4;
                color: $secondary-color;
            }

            .skill {
                position: absolute;
                color: $white-color;

                &-1 {
                    top: 10%;
                    right: 50%;
                }

                &-2 {
                    right: 0;
                    top: 20%;
                }

                &-3 {
                    top: 65%;
                    left: 10%;
                }

                &-4 {
                    top: 25%;
                }

                &-5 {
                    bottom: 45%;
                    left: 40%;
                }

                &-6 {
                    bottom: 30%;
                    right: 10%;
                }
            }
        }
    }
}